

header{
	position: relative;
	width: 90%;
	margin: 0px auto;
	padding: 10px;
	background: rgb(179,217,255);
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.container{
	background-color: rgb(193,193,193);
}
.navbar {
	margin-bottom: 0;
	border-radius:0;
	
}
.carousel-inner img {
	width: 100%;
	
	min-height: 200px;
	background-color: 
	margin: auto;
	
}
#mycarousel {
	margin-top: 2pc;
}
.carousel-inner .item .carousel-caption {
	font-size: 30px;
	margin-bottom: 18%;

}
.carousel-inner .item img {
	height: 500px;
}

 @media (max-width: 100px) {
 	.carousel-caption {
 		display: none;
 	}
 }

 
 	 
 }

body {
	font-family: sans-serif;
	padding:0;

}
 



.logo{
	color: #069370;
	height: 60px; 
	font-size: 36px;
	line-height: 60px;
	padding: 0px 20px;
	text-align: center;
	box-sizing: border-box;
	float: left;
	font-weight: 700px;
	text-decoration: none;
}

.logo img{
	height: 60px;
	text-align: center;
}
.nav{
	float: right;
	font-size: 20px;
}
 

.nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}

.menu {
	float: left;
	}
nav{
	float: right;
}

.clearfix{
	clear: both;
}

nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li{
	list-style: none;
}

nav ul li a{
	display: block;
	margin: 10px 0;
	padding: 10px 20px;
	text-decoration: none;
	color: #262626;
}

nav ul li a .active,
nav ul li a:hover
{
	background: #069370;
	color: #fff;
	transition: 0.5s;
}

@media(max-width: 1200px)
{
	header
	{
		margin: 20px;
	}
}
.menu-toggle {
	display: none;
}
footer .fff{ text-align: center; background-color: rgb(0,0,0); color: #fff}
footer .row{ background-color: rgb(124,124,124); }

@media(max-width: 768px)
{
	footer {
		float: left;
	}
	footer .row{
    background-color: rgb(124,124,124);
	}
	footer .row .col-sm-4 {
		text-align: left;
	}
	footer .fff{text-align: center;
	}
	.menu-toggle
	{
		display: block;
		width: 100px;
		height: 40px;
		margin: 0px;
		float: right; 
		cursor: pointer;
		text-align: center;
		font-size: 30px;
		color: #069370;
	}
	.menu-toggle:before
	{
		font-family: fontAwesome;
		line-height: 40px;
	}
	.menu-toggle.active:before
	{
	}
	nav
	{
		display: none;
	}
	nav ul {
		display: none;
	}
	nav.active
	{
		display: block;
		width: 100%;
	}
	nav.active ul
	{
		display: block;
		text-align: center;
	}
	nav.active ul li{	{
		margin: 0;
	}
}

@-webkit-keyframes sliderleft
{
    0%{ left: 0%;}
    20%{ left: 0%;}
   25%{ left: -100%;}
   45%{ left: -100%;}
   50%{ left: -200%;}
   70%{ left: -200%;}
   75%{ left: -300%;}
   95%{ left: -300%;}
   100%{ left: -400%;}
  
}
footer  {
	margin: 5px;
}

