body{
    font-family: 'Lucida Sans';

}

.sections {
    padding: 20px 0px;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
}

/* header */
header{
    height: auto;
    padding: 10px 0;
  /* background-color: rgb(189, 239, 243);*/
    position: fixed;
    width: 100%;
    z-index: 999;
    border-radius: 10px;
    
}
header #icon{
    position: absolute;
    right: 30px;
    top: 32px;
    z-index: 10;
    display: none;
}
header .logo{
    margin-top: 13px;
}
header .logo h2{
    font-size: 35px;
}
header .ul-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    font-weight: bold;

}
header .ul-list .list a{
    display: block;
    margin: 9px 0;
    padding: 15px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: turquoise;
}

header .row .ul-list .list a:hover {
    color: blue;
}


/* fin header */

/* classe appelée dans le fichier javascript */
.stickey {
    background: rgba(22, 19, 19, 0.795);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    color: #000;
}

/* end */

/* effet des lien sur le nav */
.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    transition: all 650ms;
}

.btn:hover::before{
    left: 100%;
}
.nav-a::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        background-color: white;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 650ms;
    }
    .nav-a:hover::before{
        transform: scaleX(1);
    }
    .list{
        margin: 0 30px;
    }
    .list:last-child{
        margin-right: 0;
    }
    .nav-a{
        position: relative;
        padding-top: 0;
    }

    /* end */

   
@media (max-width: 770px) {
    
    header .ul-list {
        display: none;
        text-align: center;
        padding: 0;
    }
    header .logo{
        text-align: left;
        color: rgb(189, 239, 243);
    }
    header #icon{
    
    display: block;
   }
   .section-header p{
    width: 50%
   }

   .list{
        margin: 0px 0px;
    }
    .nav-a::before{
        
        width: 100%;
   }
   main #d1{
    display: none;
   }
}
/* home section */
.home {
    height: 650px;
    background-image: url(images/roi.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.home .home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .home-title{
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
}
.home .home-desc {
    color: #fff;
    font-size: 19px
}

.button {
    background: turquoise;
    font-weight: bold;
    color: #fff;
    width: 150px;
    text-align: center;
    padding: 10px 0px;
    transition: all 0.3s ease-in 0s;
}

.button:hover{
     background: none;
     border: 1px solid turquoise;
    color: turquoise;
    text-decoration: none;
    font-weight: bold;
}

/*About*/
.section-header .section-title{
    font-size: 25px;
}

.section-header .line {
    width: 150px;
    background: #ddd;
    height: 4px;
    margin: auto;
}
.section-header .line span{
    display: block;
    width: 100px;
    height: 4px;
    background-color: turquoise;
    margin: auto;
    position: relative;
    bottom: 0.5px;
}

.section-header p{
    font-size: 15px;
    width: 50%;
    color: #888;
    margin: 20px auto;
    line-height: 1.5;
}

/*a propos de nous et connectez vous*/
.about .about-info h3{
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
}
.about .about-info h3 span{
    color: turquoise;
}
.about .about-info .about-info-desc{
    line-height: 1.8;
    color: #888;
    margin-bottom: 20px;
}
.about .about-info .about-info-btn {
    background-color: #7cb62f;
    padding: 10px 20px;
    border: 0;
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
}
.about .about-img {
    width: 100%;

}

@media (max-width: 770px){
    .about .about-info h3{
        font-size: 20px;
    }
}
@media (min-width: 770px) and (max-width: 900px){
    .about .about-info{
        text-align: center;
    }
}

/* ce que nous faisons*/

.services {
    background-color: #f7f7f7;
}
.services .serv {
    background: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px
}
.services .serv .icon{
    background-color: turquoise;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff; 
}
.services .serv-title{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}
.services .serv-title:hover{
    font-size: 28px;
    color: turquoise;
    background-color: white;
    transition: 0.4s ease-in-out;
    text-decoration-style:  none;
}
.services .serv-desc{
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
}

main #d1{
    margin-bottom: 15px;
}

footer{
    background-image: url(images/telecom.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
footer.shop-info i{
    color: #069370;
    font-size: 50px;

}

.shop-info h1{
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
}

.shop-info p, 
.shop-info address{
    color: rgba(255,255,255,.5);
}
footer{
    background: #333;
    padding: 20px 0 40px;
}
footer .glyphicon{
    font-size: 25px;
    margin: 20px;
    color: #d82c2e;
    height: 30px;
}
footer .glyphicon:hover{
    font-size: 29px;
}
footer h5{
    color: white;
    font-weight: normal;
}














#d1 {
    width: 70%;
    height: 390px;
    margin: 5px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fondu 15s ease-in-out infinite both;
    border-radius: 10px;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(0,169,251);

}


@keyframes fondu {
    0%{background-image: url("images/tci.jpg"); }
    33.33%{background-image: url("images/telecom.jpg");}
    66.67%{background-image: url("images/tau.jpg");}
    100%{background-image: url("images/reseau.jpg");}
}

#d1:hover {
    animation-play-state:  paused;
}

