.margetop {
	margin-top: 60px;
}
.container{
	padding-top: 70px;
}
.panel .panel-heading{
	background-color: ;
	font-size: 16px;
	font-weight: bold;
	font-family: italic;
}
.panel .panel-body button {
	background-color: rgb(169, 240, 233);
	
	font-weight: bold;
}
.panel .panel-body  select {
   border-radius: 2px;
   height: 32px;
   background-color: white;
   border: 1px solid turquoise;
}
.panel .panel-body button:hover {
	background-color: white;
	border: 1px solid turquoise;
	font-size: 15px;
	transition: 0.4s ease-in-out;
	color: turquoise;
	font-weight: bold;
}

