header{
	width: 100%;
	height: 200px;
	background: linear-gradient(rgba(16,29,44,.95), rgba(16,29,44,.95)),
				url("../images/roi.jpg") center no-repeat;
	background-size: cover;
	position: relative;
}

header > .container{
	position: relative;
	height: 100px;
	padding: 0;
}

.navbar-brand{
	position: absolute;
	width: 100%;
	max-width: 100px;
	top: 10px;
	left: 50px;
	transform: translateX(-50%);
	transition: opacity 650ms;
}

.navbar-brand:hover{
	opacity: 0.8;
}

.hamburger-menu{
	position: fixed;
	top: 25px;
	right: 15px;
	width: 30px;
	height: 30px;
	display: flex;
	background-color: #101D2C;
	border-radius: 4px;
	cursor: pointer;
	z-index: 999;
}

.hamburger-menu i{
	font-size: 10px;
	color: rgba(198, 153, 99, 0.7);
	margin: auto;
}

.hamburger-menu .fa-times{
	display: none;
}

.hamburger-menu .fa-times.open{
	display: block;
}

.hamburger-menu .fa-bars.open{
	display: none;
}

.nav-list{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	list-style: none;
	background-color: #101D2C;
	z-index: 900;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	transform: scale(0);
	transition: opacity 650ms;
}

.nav-link{
	font-family: "Niconne", cursive;
	color: #c69963;
}
section{
	padding: 60px 0;
}
.section-heading h1{
	font-family: 'Niconne', cursive;
	color: rgb(0,80,159);
}

.nav-list.open{
	opacity: 1;
	transform: scale(1);
}
.menu{
	background-color: #101D2C;
}

.shop-info i{
	color: #069370;
	font-size: 50px;

}

.shop-info h1{
	font-family: 'Teko', sans-serif;
	font-size: 25px;
	font-weight: 300;
	text-transform: uppercase;
}

.shop-info p, 
.shop-info address{
	color: rgba(255,255,255,.5);
}

hr{
	border-top: 1px solid rgba(255,255,255,.05);
}


@media (min-width: 576px){
	.navbar-brand{
		max-width: 150px;
	}
	.hamburger-menu{
		top: 35px;
		right: 25px;
	}
}




@media (min-width: 992px){
	header > .container{
		padding: 0 15px;
	}
	.hamburger-menu{
		display: none;
	}
	.navbar-brand{
		position: initial;
		transition: initial;
	}
	.nav-list{
		position: initial;
		width: initial;
		height: initial;
		background-color: initial;
		flex-direction: row;
		opacity: initial;transform: initial;
		transition: initial; 
		margin: 0;
		padding-top: 0;
	}
	.nav-item{
		margin: 0 30px;
	}
	.nav-item:last-child{
		margin-right: 0;
	}
	.nav-link{
		position: relative;
		padding-top: 0;
	}
	.nav-link::before{
		content: "";
		position: absolute;
		left: 0;
		bottom: -3px;
		background-color: #c69963;
		width: 100%;
		height: 2px;
		transform: scaleX(0);
		transform-origin: center;
		transition: transform 650ms;
	}
	.nav-link:hover::before{
		transform: scaleX(1);
	}
}